nav ul{
    padding : 0px;
    margin: 0px;
    list-style: none;
}


nav li{
display: inline-block;
margin: 0px;
padding: 0px;
width: 100px;
height: 400px;
text-align: center;
line-height: 40px;
}

nav li a{
    display:block;
    text-decoration: none;
}
 <style>
 body{
     background-image: image(C:\Users\bad-b\tp2-sites-team-diego-et-jordan\image\1);
     background-repeat: no-repeat;
     background-attachment: fixed;
    background-size: 100%;

 }
 </style>